
body{
    background: #bdc3c7;  /* fallback for old browsers */
    
}

.contenedor-tarjeta{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    margin-top: 40px;
    width: 38rem;
}